@model PizzeriaApp.Models.OrderSummaryViewModel

<h2>Dettagli Ordine</h2>

<p>ID Ordine: @Model.Order.Id</p>
<p>Indirizzo di Spedizione: @Model.Order.IndirizzoSpedizione</p>
<p>Note: @Model.Order.Note</p>

<h3>Prodotti:</h3>
<ul>
    @foreach (var item in Model.OrderItems)
    {
        <li>
            Prodotto: @item.Product.Nome - Quantità: @item.Quantità
        </li>
    }
</ul>
