@model PoliziaMunicipaleApp.Models.Anagrafica

@{
    ViewData["Title"] = "Elimina Anagrafica";
}

<h1>Elimina Anagrafica</h1>

<h4>Sei sicuro di voler eliminare questo record?</h4>
<hr />
<div>
    <h4>Anagrafica</h4>
    <dl class="row">
        <dt class="col-sm-3">Cognome</dt>
        <dd class="col-sm-9">@Model.Cognome</dd>

        <dt class="col-sm-3">Nome</dt>
        <dd class="col-sm-9">@Model.Nome</dd>

        <dt class="col-sm-3">Indirizzo</dt>
        <dd class="col-sm-9">@Model.Indirizzo</dd>

        <dt class="col-sm-3">Città</dt>
        <dd class="col-sm-9">@Model.Citta</dd>

        <dt class="col-sm-3">CAP</dt>
        <dd class="col-sm-9">@Model.CAP</dd>

        <dt class="col-sm-3">Codice Fiscale</dt>
        <dd class="col-sm-9">@Model.CodiceFiscale</dd>
    </dl>
</div>
<form asp-action="DeleteAnagrafica">
    <input type="hidden" asp-for="Idanagrafica" />
    <div class="form-group">
        <input type="submit" value="Elimina" class="btn btn-danger" />
        <a href="@Url.Action("IndexAnagrafica")" class="btn btn-secondary">Annulla</a>
    </div>
</form>
