@model IEnumerable<PoliziaMunicipaleApp.Models.Anagrafica>

@{
    ViewData["Title"] = "Anagrafica Index";
}

<h1>Dati Anagrafici Trasgressori</h1>

<p>
    <a href="@Url.Action("CreateAnagrafica")" class="btn btn-primary">Aggiungi Nuovo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Cognome)</th>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.CodiceFiscale)</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Cognome)</td>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.CodiceFiscale)</td>
                <td>
                    <a href="@Url.Action("DetailsAnagrafica", new { id = item.Idanagrafica })" class="btn btn-success">Dettagli</a>
                    <a href="@Url.Action("EditAnagrafica", new { id = item.Idanagrafica })" class="btn btn-warning">Modifica</a>
                    <a href="@Url.Action("DeleteAnagrafica", new { id = item.Idanagrafica })" class="btn btn-danger">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>
