@model IEnumerable<AlbergoApp.Models.Prenotazione>

<!DOCTYPE html>
<html>
<head>
    <title>Elenco Prenotazioni</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h1>Elenco Prenotazioni</h1>

   
    <input type="text" id="searchQuery" placeholder="Cerca per codice fiscale, camera, data..." />
    <button onclick="search()">Cerca</button>

    <table id="prenotazioniTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Numero Prenotazione</th>
                <th>Cliente</th>
                <th>Camera</th>
                <th>Data Prenotazione</th>
                <th>Periodo Soggiorno</th>
                <th>Caparra</th>
                <th>Tariffa</th>
                <th>Tipo Soggiorno</th>
                <th>Stato</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prenotazione in Model)
            {
                <tr>
                    <td>@prenotazione.IdPrenotazione</td>
                    <td>@prenotazione.NumeroProgressivo</td>
                    <td>@prenotazione.Cliente?.CodiceFiscale</td>
                    <td>@prenotazione.Camera?.Numero</td>
                    <td>@prenotazione.DataPrenotazione.ToShortDateString()</td>
                    <td>@prenotazione.PeriodoSoggiornoDal.ToShortDateString() - @prenotazione.PeriodoSoggiornoAl.ToShortDateString()</td>
                    <td>@prenotazione.CaparraConfirmatoria.ToString("C")</td>
                    <td>@prenotazione.Tariffa.ToString("C")</td>
                    <td>@prenotazione.TipoSoggiorno</td>
                    <td>@prenotazione.Stato</td>
                    <td>
                        <a href="@Url.Action("DettagliServizi", "Prenotazione", new { id = prenotazione.IdPrenotazione })">Visualizza Servizi</a>
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Prenotazione", new { id = prenotazione.IdPrenotazione })">Dettagli</a> |
                        <a href="@Url.Action("Edit", "Prenotazione", new { id = prenotazione.IdPrenotazione })">Modifica</a> |
                        <a href="@Url.Action("Delete", "Prenotazione", new { id = prenotazione.IdPrenotazione })">Elimina</a>
                        <button onclick="checkout(@prenotazione.IdPrenotazione)">Checkout</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href="@Url.Action("Create", "Prenotazione")">Aggiungi Prenotazione</a>

    <script>
        function search() {
            var query = $('#searchQuery').val();

            $.ajax({
                url: '@Url.Action("Search", "Prenotazione")',
                data: { query: query },
                success: function (data) {
                    var rows = '';
                    $.each(data, function (i, prenotazione) {
                        rows += '<tr>';
                        rows += '<td>' + prenotazione.idPrenotazione + '</td>';
                        rows += '<td>' + prenotazione.numeroProgressivo + '</td>';
                        rows += '<td>' + prenotazione.codiceFiscaleCliente + '</td>';
                        rows += '<td>' + prenotazione.numeroCamera + '</td>';
                        rows += '<td>' + prenotazione.dataPrenotazione + '</td>';
                        rows += '<td>' + prenotazione.periodoSoggiorno + '</td>';
                        rows += '<td>' + prenotazione.caparraConfirmatoria + '</td>';
                        rows += '<td>' + prenotazione.tariffa + '</td>';
                        rows += '<td>' + prenotazione.tipoSoggiorno + '</td>';
                        rows += '<td>' + prenotazione.stato + '</td>';
                        rows += '<td><a href="/Prenotazione/DettagliServizi/' + prenotazione.idPrenotazione + '">Visualizza Servizi</a></td>';
                        rows += '<td><a href="/Prenotazione/Details/' + prenotazione.idPrenotazione + '">Dettagli</a> | <a href="/Prenotazione/Edit/' + prenotazione.idPrenotazione + '">Modifica</a> | <a href="/Prenotazione/Delete/' + prenotazione.idPrenotazione + '">Elimina</a></td>';
                        rows += '</tr>';
                    });
                    $('#prenotazioniTable tbody').html(rows);
                }
            });
        }

        function checkout(id) {
            $.ajax({
                url: '@Url.Action("Checkout", "Prenotazione")',
                data: { id: id },
                success: function (data) {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        alert('Dettagli Checkout:\n' + data.dettagli);
                    }
                },
                error: function () {
                    alert('Errore durante il checkout.');
                }
            });
        }
    </script>
</body>
</html>
