@model List<DittaSpedizioni.Models.AggiornamentoSpedizione>

<h1>Elenco Aggiornamenti Spedizione</h1>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Spedizione</th>
                <th scope="col">Stato</th>
                <th scope="col">Luogo</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Data Aggiornamento</th>
                <th scope="col">Operatore</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var aggiornamento in Model)
            {
                <tr>
                    <td>@aggiornamento.IdAggiornamento</td>
                    <td>@aggiornamento.Spedizione</td>
                    <td>@aggiornamento.Stato</td>
                    <td>@aggiornamento.Luogo</td>
                    <td>@aggiornamento.Descrizione</td>
                    <td>@aggiornamento.DataAggiornamento.ToShortDateString()</td>
                    <td>@aggiornamento.Operatore</td>
                   
                </tr>
            }
        </tbody>
    </table>
</div>
